* {
    margin: 0;
    padding: 0;
}

a {
    color: #20243b;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

input, button, textarea {
    border: none;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
}

input:focus, button:focus, textarea:focus {
    outline: none;
}

html {
    font-size: 10px;
}

body {
    background: #262a41;
    color: #8e909c;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px 0;
}

.alert {
    margin-top: 50px;
    padding: 15px 10px;
    background: indianred;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.alert .fa {
    margin-right: 10px;
}

.info {
    margin-top: 25px;

    line-height: 2.4rem;
    text-align: justify;
}

.sidebar {
    width: 300px;
    padding: 15px 25px;
    color: #626785;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 15px;
    margin-top: -6px;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 3px;
}

.logo:before {
    content: url(src/kency.svg);
    width: 50px;
}

.nav {
    margin-top: 30px;
}

.nav .title {
    margin-bottom: 20px;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.nav-menu a {
    display: block;
    padding: 15px;
    border-radius: 5px;
    color: #626785;
    cursor: pointer;
    transition: all .25s ease-out;
}

.nav-menu a:hover {
    color: #fff;
}

.nav-menu .active a {
    background: #18aae2;
    color: #fff;
}

.nav-menu .fa {
    margin-right: 15px;
    transition: transform .25s ease-out;
}

.nav-menu a:hover .fa {
    transform: scale(1.2);
}

main>section {
    position: relative;
    width: calc(100% - 300px);
    padding: 25px;
    padding-right: 50px;
    overflow: auto;

    background: #fff;
    border-radius: 25px 0 0 25px;
    color: #8e909c;
}

section h2 {
    margin: 10px 0;
    color: #20243b;
    font-size: 2rem;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found h2 {
    font-size: 4rem;
}

.not-found .fa {
    font-size: 10rem;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #18aae2;
}

.documents header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.documents .keyword-chip {
    margin-right: 5px;
    padding: 5px 10px;
    background: #18aae2;
    border-radius: 15.5px;
    color: #fff;
    font-size: 1.4rem;
}

.documents .delete-keyword {
    margin-left: 5px;
    font-size: 1.8rem;
    vertical-align: top;
    cursor: pointer;
}

.documents .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-width: 300px;
    height: 42px;
    padding: 10px;
    box-sizing: border-box;
    background: #f4f4f7;
    border-radius: 21px;
    color: #adb1ce;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.documents .search-input {
    width: 100%;
    background: none;
    border: none;
    color: #adb1ce;
}

.documents .search-input::placeholder {
    color: #adb1ce;
}

.documents .search-input:focus {
    outline: none;
}

.documents .search-button {
    margin-left: 10px;
    cursor: pointer;
}

.documents .keywords-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow: auto;
    margin-top: 10px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.documents .keyword:not(:last-child) {
    margin-bottom: 15px;
}

.documents .keywords-list .loading .fa {
    font-size: 2rem;
}

.documents .keyword {
    cursor: pointer;
}

.documents .keyword .highlight {
    color: #18aae2;
    font-weight: 700;
}

.documents .keywords-not-found {
    font-style: italic;
    text-align: center;
}

.documents .selection-menu {
    color: #20243b;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.documents .selection-menu .fa {
    margin-left: 20px;
    transition: transform .25s ease-out;
}

.documents .selection-menu-opened .selection-menu .fa {
    transform: rotate(180deg);
}

.documents .selection-options {
    position: absolute;
    margin-top: 20px;
    min-width: 250px;
    padding: 15px 25px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    line-height: 4rem;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .15s ease-out;
    z-index: 100;
}

.documents .selection-menu-opened .selection-options {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

.documents .selection-option span {
    cursor: pointer;
    transition: color .25s ease-out;
}

.documents .selection-option span:hover {
    color: #18aae2;
}

.documents .document {
    margin: 20px 0;
}

.documents .document h2 {
    font-size: 1.6rem;
    cursor: pointer;
}

.documents .document h2 a {
    color: #20243b;
}

.document p {
    margin-top: 8px;
    font-size: 1.3rem;
    line-height: 2.1rem;
    text-align: justify;
}

.article-details {
    display: flex;
    justify-content: space-between;
}

.article-details h2, .article-details h3 {
    margin-bottom: 25px;
    color: #20243b;
}

.article-details .document {
    width: 85%;
}

.article-details .document section:not(:last-child) {
    margin-bottom: 25px;
}

.article-details .document p {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.article-details .document-keywords {
    width: 15%;
    font-size: 1.5rem;
    text-align: center;
}

.article-details .keyword:not(:last-child) {
    margin-bottom: 10px;
}

.article-details .keyword span {
    display: inline-block;
    min-width: 100px;
    padding: 5px;
    background: #e3effd;
    border-radius: 15px;
    color: #4390f0;
    text-align: center;
}

.article-details .related li {
    margin-bottom: 5px;
}

section textarea {
    min-height: 400px;
    width: 100%;
    margin: 25px 0;
    padding: 10px;
    box-sizing: border-box;
    background: #f0f0f0;
    border-radius: 5px;
    color: #85909e;
    font-size: 1.5rem;
    resize: vertical;
}

.search-area {
    text-align: center;
}

.search-area-button {
    min-width: 180px;
    padding: 15px;
    background: #18aae2;
    border-radius: 24.5px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.search-area-button .loading {
    position: initial;
    transform: none;
    color: #fff;
    font-size: 0.5rem;
}

.query-results {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    border-spacing: 0;
}

.query-results th, .query-results td {
    padding: 5px;
}

.query-results th {
    padding: 10px 5px;
    background: #262a41;
    color: #fff;
}

.query-results-title {
    background: #f0f0f0;
    color: #85909e;
}

.query-results-values {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    font-size: 1.4rem;
}

.about-us header {
    margin-bottom: 25px;
}

.f4 .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.f4 .cards li {
    min-width: 250px;
    margin-right: 50px;
    padding: 30px;
    box-sizing: border-box;

    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.f4 .cards li:last-child {
    margin: 0;
}

.f4 .cards li:last-child {
    margin-right: 0;
}

.f4 .cards .name {
    margin: 0;
    color:#20243b;
}

.f4 .cards .counterpart {
    color: darkslategray;
    font-size: 1.4rem;
}

.f4 .cards .element {
    margin: 40px 0;
    font-size: 8rem;
    text-align: center;
}

.f4 .ui-card .element {
    color: orangered;
    transition-delay: .25s;
}

.f4 .lf-card .element {
    color: lightsteelblue;
    transition-delay: .50s;
}

.f4 .vm-card .element {
    color: deepskyblue;
    transition-delay: .75s;
}

.f4 .sd-card .element {
    color: sandybrown;
    transition-delay: 1s;
}

.f4 .user {
    font-size: 1.3rem;
}

.f4 .e-mail {
    color: #000;
    font-style: normal;
    font-weight: 600;
}